@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  letter-spacing: 3px;
}

h1 span {
  position: relative;
  bottom: 8px;
  font-size: 25px;
  margin-left: 5px;
}
