* {
  margin: 0;
}

.nav-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #3D85C5;
}

.nav-buttons {
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}

Button {
  width: 7rem;
}

.nav-container span {
  margin: auto 0;
}
