* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F3F4F3;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0 solid #FEFEFE;
  border-radius: 15px;
  height: 500px;
  width: 300px;
  gap: 30px;
  background: #9FC5E9;
  box-shadow: 0 30px 15px -30px #1F252A;
}

.input-box {
  position: relative;
  width: 250px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #FEFEFE;
  background: #9FC5E9;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  color: #FEFEFE
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #FEFEFE;
  transition: 0.2s;
}

.input-box input:valid ~ span, .input-box input:focus ~ span {
  color: #FEFEFE;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.9em;
  padding: 0;
  background: #9FC5E9;
}

Button {
  position: relative;
  bottom: 170px;
  left: 70px;
  background-color: #3D85C5;
  color: white;
  letter-spacing: 3px;
}

.forgotten-password {
  position: relative;
  top: 5px;
  color: white;
  font-size: 14px;
}


.forgotten-password-box {
  width: 250px;
  position: relative;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

.social-login-box {
  width: 300px;
  position: relative;
  bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.social-login-box p {
  font-size: 14px;
}

.social-login-box div {
  width: 100px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 20px;
}
